<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.PastPest.competition1">


    <!--   인터넷, 위치 권한-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 인터넷 권한 설정   -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 인터넷 연결 확인-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION">
    </uses-permission>
    <!-- 사진 권한-->
    <uses-permission android:name="android.permission.CAMERA" /><!--카메라 권한-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /><!--파일 읽기 권한-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /><!--파일 쓰기 권한-->
    <uses-feature android:name="android.hardware.camera" android:required="true"/><!--카메라 기능 사용-->
    <!-- 시스템 재부팅시 알람 설정 권한 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/mainimage"
        android:label="PastPest"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Competition1"
        android:usesCleartextTraffic="true"
        android:name="com.PastPest.competition1.LoginedId"
        android:networkSecurityConfig="@xml/network_security_config">

        <activity
            android:name="com.PastPest.competition1.FirstActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService" android:enabled="true" />


        <!-- 병해충 알람 설정 -->
        <receiver android:name=".AlarmRecevier"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- 네이티브 앱 키 추가-->
        <meta-data android:name="com.kakao.sdk.AppKey" android:value="f9d48590f679a37f2c4580e36d6f0a19"/>
        <activity android:name="com.PastPest.competition1.report.CropSelectActivity"/>
        <activity android:name="com.PastPest.competition1.report.LocationSelectActivity"/>
        <activity android:name="com.PastPest.competition1.report.SymptomSelectActivity"/>
        <activity android:name="com.PastPest.competition1.report.PestSelectActivity"/>
        <activity android:name="com.PastPest.competition1.information.InformationViewActivity"/>
        <activity android:name="com.PastPest.competition1.information.PestInformationActivity"/>
        <activity android:name="com.PastPest.competition1.information.SectorSelectionActivity"/>
        <activity android:name="com.PastPest.competition1.information.SymptomInformationActivity"/>
        <activity android:name="com.PastPest.competition1.kakaoMap.AddressApiActivity"/>
        <activity android:name="com.PastPest.competition1.LoginActivity"/>
        <activity android:name="com.PastPest.competition1.RegisterActivity"/>
        <activity android:name="com.PastPest.competition1.FindingActivity"/>
        <activity android:name="com.PastPest.competition1.FindingIdActivity"/>
        <activity android:name="com.PastPest.competition1.FindingPwActivity"/>
        <activity android:name="com.PastPest.competition1.ReportHistory.ReportHistoryActivity"/>
        <activity android:name="com.PastPest.competition1.ReportRecordActivity"/>
        <activity android:name="com.PastPest.competition1.pestdetails.PestDetailsActivity"/>
        <activity android:name="com.PastPest.competition1.MainActivity"/>
        <activity android:name="com.PastPest.competition1.PasswordResetActivity"/>
    </application>

</manifest>