<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.competition1">


    <!--   인터넷, 위치 권한-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 인터넷 권한 설정   -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 인터넷 연결 확인-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION">
    </uses-permission>
    <!-- 사진 권한-->
    <uses-permission android:name="android.permission.CAMERA" /><!--카메라 권한-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /><!--파일 읽기 권한-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /><!--파일 쓰기 권한-->
    <uses-feature android:name="android.hardware.camera" android:required="true"/><!--카메라 기능 사용-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Competition1"
        android:usesCleartextTraffic="true"
        android:name=".LoginedId"
        android:networkSecurityConfig="@xml/network_security_config">

        <activity
            android:name=".FirstActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 네이티브 앱 키 추가-->
        <meta-data android:name="com.kakao.sdk.AppKey" android:value="f9d48590f679a37f2c4580e36d6f0a19"/>
        <activity android:name=".report.CropSelectActivity"/>
        <activity android:name=".report.LocationSelectActivity"/>
        <activity android:name=".report.SymptomSelectActivity"/>
        <activity android:name=".report.PestSelectActivity"/>
        <activity android:name=".information.InformationViewActivity"/>
        <activity android:name=".information.PestInformationActivity"/>
        <activity android:name=".information.SectorSelectionActivity"/>
        <activity android:name=".information.SymptomInformationActivity"/>
        <activity android:name=".kakaoMap.AddressApiActivity"/>
        <activity android:name=".LoginActivity"/>
        <activity android:name=".RegisterActivity"/>
        <activity android:name=".FindingActivity"/>
        <activity android:name=".FindingIdActivity"/>
        <activity android:name=".FindingPwActivity"/>
        <activity android:name=".ReportHistoryActivity"/>
        <activity android:name=".ReportRecordActivity"/>`
        <activity android:name=".pestdetails.PestDetailsActivity"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".PasswordResetActivity"/>
    </application>

</manifest>